body{
    text-align: center;
    margin-top: 150px;
}

.btn{
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn:hover{
    box-shadow: inset 0px 0px 0px 3px cyan ;
    box-sizing: border-box ;
}

.red{
    background-color: red;
    border-bottom-right-radius: 100%;
    width: 200px;
    height: 200px;
}
.blue{
    background-color: blue;
    border-bottom-left-radius: 100%;
    width: 200px;
    height: 200px;
}
.green{
    background-color: green;
    border-top-right-radius: 100%;
    width: 200px;
    height: 200px;
}
.yellow{
    background-color: yellow;
    border-top-left-radius: 100%;
    width: 200px;
    height: 200px;
}
.center{
    display: inline-block;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
    z-index: 999;
}

.flash{
    background-color: white;
}

